page-perfil {}

.centrado {
  text-align: center;
}

.avatar {
  border: 3px solid #960000;
  border-radius: 60%;
  float: center;
  height: 150px;
    width: 150px;
}

.profile-image {
  img {

    border: 3px solid #960000;
    border-radius: 60%;
    -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    height: 150px;
    width: 150px;
  }
}

.min {
  text-transform: none;
  border-radius: 3px !important;
  &.activated {
    background-color:rgba(#009359, 0.79)  !important;
  }
}
