page-mascota {

}



.min {
    text-transform: none;
    border-radius: 3px !important;
    &.activated {
      background-color:rgba(#009359, 0.79)  !important;
    }
}

.cambiaRojo
{
  border: 5px solid red;
  
}


.cambiaVerde
{
  border: 5px solid green;
  
}